@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html, body{
	width: 100%;
	height: 100%;
	min-height: 100%;
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 100%;
	background-color: #FFF;
	overflow: hidden;
}
.text{
  position: absolute;
  z-index: 10;
  bottom: 3%;
  left: 3%;
}
.text h1{
  font-size: 1.5em;
  color: #000;
}
.text p{
  font-size: 1em;
  color: #000;
}
.text p span{
  color: #000;
}
.container{
	width: 500px;
	height: 443px;
	position: absolute;
	top: calc(50% - 221px);
	left: calc(50% - 250px);
}
.face{
	width: 400px;
	height: 240px;
	position: absolute;
	z-index: 2;
	bottom: 40px;
	left: calc(50% - 200px);
	border: 5px solid #000;
	background-color: #FFF;
}
.mouth{
	width: 445px;
  height: 140px;
  position: absolute;
	z-index: 3;
  bottom: 0px;
  left: calc(50% - 222px);
  border: 5px solid #000;
  background-color: #FFF;
}

.mouth:after {
	content: "";
	height: 0;
	width: 255px;
	position: absolute;
	z-index: 5;
	top: -30px;
	left: 57px;
	border-top: 70px solid #FFF;
	border-left: 36px solid transparent;
	border-right: 42px solid transparent;
}
.mouth-detail {
  width: 5px;
  height: 100px;
  position: absolute;
	z-index: 4;
  top: -8px;
  left: 89px;
  background-color: #000;
  transform: rotate(-27deg);
}
.mouth-detail:after {
	content: "";
	width: 5px;
	height: 100px;
	position: absolute;
	top: 118px;
	right: -230px;
	background-color: #000;
	transform: rotate(57deg);
}
.mouth-detail:before {
  content: "";
  width: 215px;
  height: 5px;
  position: absolute;
  top: 144px;
  left: -11px;
  background-color: #000;
  transform: rotate(27deg);
}
.eyes{
	width: 100px;
  height: 120px;
  position: absolute;
  z-index: 6;
  top: 199px;
  border: 3px solid #000;
  border-radius: 50%;
  overflow: hidden;
}
.eyes:after{
	content: "";
	width: 70px;
	height: 80px;
	position: absolute;
	z-index: 6;
	bottom: -17px;
	left: 0px;
	background-color: #000;
	border-radius: 50%;
}
.eyes-left{
	left: 140px;
}
.eyes-right{
	right: 140px;
}
.ear{
	width: 50px;
	height: 120px;
	position: absolute;
	bottom: 90px;
	border: 5px solid #000;
}
.ear-left{
	left: 10px;
}
.ear-right{
	right: 10px;
}
.antenna{
	width: 0;
	height: 0;
	position: absolute;
	top: 40px;
	left: 209px;
	border-bottom: 162px solid #000;
	border-left: 40px solid transparent;
	border-right: 40px solid transparent;
}
.antenna:after{
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	top: 12px;
	left: -30px;
	border-bottom: 162px solid #FFF;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
}
.antenna:before{
	content: "";
	width: 50px;
	height: 50px;
	position: absolute;
	z-index: 10;
	top: -30px;
	left: -29px;
	background-color: #FFF;
	border-radius: 50%;
	border: 5px solid #000;
}
