@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');
*{
	padding: 0;
	margin: 0;
}
html, body{
	width: 100%;
	height: 100%;
	min-height: 100%;
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 100%;
	background-color: #d94829;
	display: flex;
  	align-items: center;
  	justify-content: center;
  	overflow: hidden;
}
@keyframes animationProgess{
	0%{
		width: 0px;
	}
	30%{
		width: 350px;
	}
	50%{
		width: 350px;
	}
	60%{
		width: 423px;
	}
	100%{
		width: 423px;
	}
}
@keyframes animationText{
	0%{
		opacity: .4;
	}
	50%{
		opacity: 1;
	}
	100%{
		opacity: .4;
	}
}
.text{
  position: absolute;
  z-index: 10;
  bottom: 3%;
  left: 3%;
}
.text h1{
  font-size: 1.5em;
  color: #FFF;
}
.text p{
  font-size: 1em;
  color: #FFF;
}
.text p span{
  color: #FFF;
}
.ipad{
	width: 661px;
	height: 419px;
	position: absolute;
	z-index: 2;
	background-color: #ffffff;
	border-radius: 40px;
}
.ipad:before{
	content: "";
	width: 527px;
	height: 316px;
	position: absolute;
	z-index: 3;
	top: calc(50% - 158px);
	left: calc(50% - 263px);
	background-color: #1a1a1a;
}
.ipad:after{
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    z-index: 4;
    top: 61px;
    left: 77px;
    border-top: 298px solid #333333;
    border-right: 508px solid transparent;
}
.ipad-details{
	width: 37px;
	height: 39px;
	position: absolute;
	z-index: 6;
	top: 189px;
	left: 13px;
	background-color: #333333;
	border-radius: 50%;
}
.ipad-details:before{
    content: "";
    width: 10px;
    height: 76px;
    position: absolute;
    z-index: 6;
    top: -21px;
    right: -581px;
    background-color: #333333;
    border-radius: 5px;
}
.ipad-details:after{
    content: "";
    width: 15px;
    height: 15px;
    position: absolute;
    z-index: 6;
    top: 65px;
    right: -584px;
    background-color: #333333;
    border-radius: 50%;
}
.low-triangle{
    width: 0;
    height: 0;
    position: absolute;
    z-index: 6;
    top: 116px;
    left: 298px;
    border-top: 30px solid #f4e05b;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
}
.low-triangle:before{
    content: "";
    width: 81px;
    height: 14px;
    position: absolute;
    z-index: 6;
    top: 10px;
    left: -42px;
    background-color: #f4e05b;
}
.low-triangle:after{
    content: "";
    width: 14px;
    height: 33px;
    position: absolute;
    z-index: 6;
    top: -9px;
    left: -56px;
    background-color: #f4e05b;
    box-shadow: #f4e05b 95px 0px 0px;
}
.texto{
	opacity: 1;
    width: 100%;
    height: auto;
    position: absolute;
    z-index: 6;
    top: 203px;
    left: 0;
    font-family: Arial;
    color: #FFF;
    font-size: 1.3em;
    font-weight: 600;
    text-align: center;
    animation: animationText 1s ease-in-out infinite;
}
.progress{
    width: 431px;
    height: 25px;
    position: absolute;
    z-index: 6;
    bottom: 118px;
    left: calc(50% - 215px);
    background-color: #cbcbcb;
    border-radius: 20px;
    border: 4px solid #f8fdf9;
    box-sizing: border-box;
}
.progress:after{
    content: "";
    width: 423px;
    height: 17px;
    position: absolute;
    z-index: 6;
    bottom: 0;
    left: 0;
    background: -webkit-linear-gradient(left, #629cee 0%, #629cee 50%, #5c8ce7 50%, #5c8ce7 100%);
    border-radius: 20px;
    animation: animationProgess 5s linear infinite;
}